body {
    background-color: rgb(250, 250, 250);
    font-family: 'Montserrat', sans-serif;
}

/* .cursor {
    z-index: 99999;
    position: fixed;
    background-color: colors;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    animation: colors 5s infinite;
}

@keyframes colors {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.cursor::before {
    content: '';
    position: absolute;
    background: blueviolet;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
} */

/* ------------ NAVBAR --------- */

.navbar {
    background-color: rgb(250, 250, 250);
}


.underline {
    color: var(--blue-dark);
    display: inline-block;
    position: relative;
    font-weight: 400;
}

.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(27, 12, 235);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: 0.3s ease-out;
}

.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
}

.ul-1:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 174, 0);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: 0.3s ease-out;
}

.ul-2:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(199, 53, 16);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: 0.3s ease-out;
}

.ul-3:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(70, 175, 0);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: 0.3s ease-out;
}

.ul-4:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(149, 0, 179);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: 0.3s ease-out;
}

.active .underline:after {
    transform: scaleX(1);
}

/* --------------------- FIN NAVBAR ----------------------- */




/* -------------------- DIV PRINCIPAL --------------------- */


.imagen-fondo {
    background-image: url('../img/patagonia-tierra-generosa.jpg'); 
    background-size: cover; 
    background-position: center center; 
    width: 100%;
    height: 60vh; 
    position: relative; 
}

.imagen-fondo-biografia {
    background-image: url('../img/la-vision-de-don-bosco-2.jpg'); 
    background-size: cover; 
    background-position: center center; 
    width: 100%;
    height: 130vh; 
    position: relative; 
}


.sombra-principal {
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    height: 100%;
    position: absolute;
    width: fit-content;
    bottom: 0;
}

.sombra-biografia {
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    width: fit-content;
    bottom: 0;
}

.sin-estilo {
    z-index: 2;
    text-decoration: none; 
    color: none; 
    background: none;
    left: 0;
    background-color: none;
}

.quote {
    z-index: 1;
    color: rgb(31, 31, 31);
    font-weight: 300;
    font-style: italic;
}

.quote-principal {
    z-index: 1;
    color: rgb(31, 31, 31);
    font-weight: 300;
    font-style: italic;
}

.div-nombre {
    z-index: 1;
    max-width: 700px;
}

.div-nombre-principal {
    z-index: 1;
    max-width: 700px;
}

.div-nombre h1 {
    z-index: 1;
    font-size: 70px;
    font-weight: 700;
}

.div-nombre h3 {
    z-index: 1;
    font-weight: 400;
}

.div-nombre-principal h1 {
    z-index: 1;
    font-size: 70px;
    font-weight: 700;
}

.div-nombre-principal h3 {
    z-index: 1;
    font-weight: 400;
}

/* ----------------------- FIN DIV PRINCIPAL --------------- */


/* ----------------- TEXTO CAMBIA COLOR ------------------------ */

.texto-cambia-color {
    animation: changeColor 15s infinite;
}

@keyframes changeColor {
    0%, 100% { color: #fd8a8a; }
    12.5% { color: #8d9f91; }
    25% { color: #e0869e; }
    37.5% { color: #a8d1d1; }
    50% { color: #9ea1d4; }
    62.5% { color: #ffc34a; }
    75% { color: #f6aa90; }
    87.5% { color: #215a6d; }
/*     0%, 100% { color: rgb(192, 46, 46); }
    12.5% { color: orange; }
    25% { color: rgb(219, 205, 0); }
    37.5% { color: green; }
    50% { color: rgb(31, 31, 185); }
    62.5% { color: purple; }
    75% { color: pink; }
    87.5% { color: rgb(21, 190, 190); } */
}

/* --------------- FIN TEXTO CAMBIA COLOR ----------------------- */

/* ------------------------ DIV CUADROS -------------------- */

.div-imagen {
    max-width: fit-content;
    position: relative;
    transition: transform .5s;
}

.div-imagen:hover {
    transform: scale(1.02);
}

.div-img {
    background-size: cover; 
    background-position: center top; 
    width: 100%;
    height: 40vh; 
    position: relative; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); 
}

.carousel-inner {
    background-image: url('../img/unp-rectorado.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: auto;
    position: relative;
}

.carousel-inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

/*  -------------------- IMAGENES ---------------------- */

.div-imagen-senadora {
    background-image: url('../img/la-senadora.jpg'); 
}

.div-imagen-ninos {
    background-image: url('../img/los-ninos-nos-miran.jpg'); 
}

.div-imagen-mujer {
    background-image: url('../img/mujer.jpg'); 
}

.div-imagen-hermanos {
    background-image: url('../img/que-bueno-sentirnos-hermanos.jpg'); 
}

.div-imagen-tarde {
    background-image: url('../img/llegada-la-tarde-el-señor-dijo.jpg');
}

.div-imagen-comunicandonos {
    background-image: url('../img/comunicandonos-hoy.jpg'); 
}

.div-imagen-bigbang {
    background-image: url('../img/bigbang.jpg'); 
}

/* ---------------------- FIN IMAGENES --------------------- */

.sombra-img {
    position: absolute;
    width: fit-content;
    height: 33%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    bottom: 0;
    left: 0;
}

.texto-img {
    position: absolute;
    left: 3rem;
    bottom: 2rem;
    color: white;
    font-size: 22px;
}

/* --------------- FIN DIV CUADROS -------------------- */

/* @media (max-width: 767px) {
    .cursor {
        z-index: 99999;
        position: none;
        background-color: transparent;
        width: 0px;
        height: 0px;
        border-radius: 0%;
        pointer-events: none;
        animation: none;
    }

    .cursor::before {
        content: '';
        position: none;
        background: transparent;
        width: 0px;
        height: 0px;
        opacity: 0;
        border-radius: 0%;
    }
} */



/* -------------- MEDIA QUERIES ------------------ */

@media (max-width: 600px) {

    .div-nombre h1 {
        font-size: 55px;
        font-weight: 700;
    }


    .div-nombre h3 {
        font-size: 18px;
        font-weight: 400;
    }

    .quote {
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
    }

    .texto-img {
        position: absolute;
        left: 3rem;
        bottom: 2rem;
        color: white;
        font-size: 18px;
    }
}

@media (max-width: 607px) {

    .div-nombre-principal h1 {
        font-size: 60px;
        font-weight: 700;
    }


    .div-nombre-principal h3 {
        font-size: 22px;
        font-weight: 400;
    }

    .quote-principal {
        font-size: 22px;
        font-weight: 300;
        font-style: italic;
    }

}

@media (max-width: 457px) {

    .div-nombre-principal h1 {
        font-size: 48px;
        font-weight: 700;
    }


    .div-nombre-principal h3 {
        font-size: 20px;
        font-weight: 400;
    }

    .quote-principal {
        font-size: 20px;
        font-weight: 300;
        font-style: italic;
    }

}

@media (max-width: 330px) {

    .div-nombre-principal h1 {
        font-size: 45px;
        font-weight: 700;
    }


    .div-nombre-principal h3 {
        font-size: 18px;
        font-weight: 400;
    }

    .quote-principal {
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
    }

}

@media (max-width: 375px) {

    .texto-img {
        position: absolute;
        left: 3rem;
        bottom: 1rem;
        color: white;
        font-size: 15px;
    }
}

@media (max-width: 1250px) {

    .texto-img {
        position: absolute;
        left: 3rem;
        bottom: 1rem;
        color: white;
        font-size: 18px;
    }
}

@media (max-width: 1020px) {

    .texto-img {
        position: absolute;
        left: 3rem;
        bottom: 1rem;
        color: white;
        font-size: 15px;
    }
}

@media (max-width: 991px) {

    .texto-img {
        position: absolute;
        left: 3rem;
        bottom: 1rem;
        color: white;
        font-size: 22px;
    }
}

@media (max-width: 670px) {

    .texto-img {
        position: absolute;
        left: 3rem;
        bottom: 1rem;
        color: white;
        font-size: 20px;
    }
}